
/* styles.css */

.circle-container {
  width: 28px;
  height: 28px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px; 
  border: 2px solid transparent;
  background: linear-gradient(90deg, rgba(177, 85, 18, 1), rgba(182, 94, 25, 1), rgba(198, 124, 51, 1), rgba(208, 143, 67, 1), rgba(212, 150, 73, 1)) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

}


